<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, 
                                     initial-scale=1.0, 
                                     maximum-scale=1.0, 
                                     user-scalable=no">
    <title>换号助手,智能通讯录,电子名片-换号码就用乐享名片-软件下载</title>
    <meta name="description" content="乐享名片免费为你换号发送短信通知好友,有联系人更换手机号码,自动为您更新,为您打造属于自己的电子名片,公司创建通讯录群,全体员工共享彼此联系方式." />
	<meta name="keywords" content="换号助手,换号短信,智能通讯录,电子名片,通讯录群组" />
   	<link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
  	<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://libs.baidu.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
    <script src="http://apps.bdimg.com/libs/angular.js/1.4.6/angular.min.js"></script>
</head>
<body>	
	<div class="container">
		<nav class="navbar navbar-default" role="navigation">
		   <div class="navbar-header">
		      <button type="button" class="navbar-toggle" data-toggle="collapse" 
		         data-target="#example-navbar-collapse">
		         <span class="sr-only">切换导航</span>
		         <span class="icon-bar"></span>
		         <span class="icon-bar"></span>
		         <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="/">乐享名片</a>
		   </div>
		   <div class="collapse navbar-collapse" id="example-navbar-collapse">
		      <ul class="nav navbar-nav">
		         <li class="dropdown">
		            <a href="index.html" class="dropdown-toggle" data-toggle="dropdown">
		               	软件介绍 
		               <b class="caret"></b>
		            </a>
		            <ul class="dropdown-menu">
		               <li><a href="index.html#section-1">关于乐享名片</a></li>
		               <li><a href="index.html#section-2">特色功能</a></li>
		            </ul>
		         </li>
		         <li class="active"><a href="downloads.html">软件下载</a></li>
		         <li><a href="#">通讯录</a></li>
		      </ul>
		   </div>
		</nav>
	</div>
	<!--电脑版 开始-->
	<div class="container hidden-xs" id="J_DetDataContainer" flag="153">
		<div class="det-main-container">
			<div class="det-ins-container J_Mod " data-modname="appInfo">
				<div class="det-icon">
					<img src="http://pp.myapp.com/ma_icon/0/icon_12252951_1460878218/96">
					<i class="icon-union-safe">315可信应用白名单</i>
				</div>
				<div class="det-ins-data">
					<div class="det-name">
						<div class="det-name-int">乐享名片</div>
						<div class="" id="J_GfHoverBtn" style="display:none">
							<div class="official-text"></div>
							<div class=" official-hover-box"><span class="out-corner">◆<span class="int-corner">◆</span></span></div>
						</div>
						<div class="clear"></div>
					</div>
					<div class="det-star-box">
						<div class="com-star-5-O det-ins-star"></div>
						<div class="com-blue-star-num">5分</div>
						<a class="det-comment-num" href="#CommentList" id="J_DetCommentNum"><a href="#CommentList" id="J_CommentCount">（1人评论）</a></a>
						<div class="clear"></div>
					</div>
					<div class="det-insnum-line">
						<div class="det-ins-num">4617下载</div>
						<div class="det-insnum-dot">·</div>
						<div class="det-size">6.37M</div>
						<div class="det-insnum-dot">·</div><div id="J_AdvBox" class="det-adv adv-btn">无广告</div>
						<div class="det-type-box">
							<div class="det-type-tit">分类：</div>
							<a href="http://sj.qq.com/myapp/category.htm?categoryId=116" class="det-type-link" id="J_DetCate">通讯</a>
							<div class="clear"></div>
							<i class="icon-union-safe">315可信应用白名单</i>
						</div>
						<div class="clear"></div>
					</div>
				</div>
				<div class="det-ins-btn-box">
					<img src="http://www.sharecarding.com/img/1461494282.png" height="130" />
				</div>
				<div class="clear"></div> 
			</div>
			<div class="det-pic-scroll-container" id="J_PicTurnContainer" style="height: 400px;">
	            <div id="J_PicTurnHoverBox" class="pic-turn-hover-box">
	                <span id="J_PicTurnHiddenBox" class="pic-turn-hidden-box" style="margin-top: -5px;">
	                    <span id="J_PicTurnImgBox" class="pic-turn-img-box">
	                    	<div class="pic-img-box">
	                        	<img data-src="http://pp.myapp.com/ma_pic2/0/shot_12252951_1_1460878216/550" src="http://pp.myapp.com/ma_pic2/0/shot_12252951_1_1460878216/550" id="picInImgBoxImg0" height="400" width="240" style="display: block;">
	                        	<!--<div class="pic-img-int-border"></div>-->
	                        </div>
	                    	<div class="pic-img-box">
	                        	<img data-src="http://pp.myapp.com/ma_pic2/0/shot_12252951_2_1460878216/550" src="http://pp.myapp.com/ma_pic2/0/shot_12252951_2_1460878216/550" id="picInImgBoxImg1" height="400" width="240" style="display: block;">
	                        	<!--<div class="pic-img-int-border"></div>-->
	                        </div>
	                    	<div class="pic-img-box">
	                        	<img data-src="http://pp.myapp.com/ma_pic2/0/shot_12252951_3_1460878216/550" src="http://pp.myapp.com/ma_pic2/0/shot_12252951_3_1460878216/550" id="picInImgBoxImg2" height="400" width="240" style="display: block;">
	                        	<!--<div class="pic-img-int-border"></div>-->
	                        </div>
	                    	<div class="pic-img-box">
	                        	<img data-src="http://pp.myapp.com/ma_pic2/0/shot_12252951_4_1460878216/550" src="http://pp.myapp.com/ma_pic2/0/shot_12252951_4_1460878216/550" id="picInImgBoxImg3" height="400" width="240" style="display: block;">
	                        	<!--<div class="pic-img-int-border"></div>-->
	                        </div>
	                    </span>
	                </span>
	                <span id="J_PicTurnLeftBtn" class="pic-turn-left-btn" style="left: -10px;"></span>
	                <span id="J_PicTurnRightBtn" class="pic-turn-right-btn picTurnBtn" style="right: -54px;"></span>
	            </div>
	            <div class="det-pic-loading" id="J_DetPicLoading" style="display: none;"></div>
			</div>
			<div class="det-othinfo-container J_Mod" data-modname="appOthInfo">
				<div class="det-othinfo-tit">版本号：</div>
				<div class="det-othinfo-data">V1.0.5</div>
				<div class="det-othinfo-tit">更新时间：</div>
				<div class="det-othinfo-data" id="J_ApkPublishTime" data-apkpublishtime="1460878356">2016年4月17日</div>
						<div class="det-othinfo-tit">开发商：</div>
						<div class="det-othinfo-data">上海夜伦网络信息技术有限公司</div>
				<div class="clear"></div>
			</div>
			<div class="det-intro-container">
	            <div class="det-intro-tit">应用信息</div>
	            <div class="det-intro-text" id="J_DetAppDataInfo" style="height: 252px;">
	                <div class="det-app-data-info">出于安全原因，即使在互联网时代，通讯录的管理依然滞后，他就像一个沉重的包裹，你必须要时时刻刻拖着他。你换手机了，需要备份一下他，你换号码了，得把他的联系人全部通知一遍，可结果却是，总有一些联系人，你备份漏了，总有一些联系人，不知道你现在的号码。
	<br>其实，用互联网解决这些问题真的很简单，他就是一个平台，负责管理你的通讯录。他需要大家的一个默契，就是把换号消息在这里发布，这样，平台就能为你维护一个自动更新号码的智能通讯录了。
	<br>大家需要做的就是把你们换号的消息在这里发布，平台需要做的就是替你们做好隐私，只让该知道的人知道。
	<br>可以在腾讯应用宝上搜索 乐享名片 即可下载，或者点击下面的地址下载乐享名片http://pgyer.com/sharecarding
	<br>乐享名片还允许你为你的公司或者社团创建通讯录群，新的员工只需加入该群即可共享通讯录哦。</div>
	                <div class="det-app-data-tit">更新内容：</div>
	                <div class="det-app-data-info">新增名片分享功能，我的名片我做主
	<br>新增新用户导航，软件功能一目了然
	<br>用户界面美化，更加贴心
	<br>接入消息推送功能，重要的消息一个不漏</div>
	            </div>
			</div>
			<div class="det-submit-container J_Mod" data-modname="commentInfo">
				<a name="CommentList" id="CommentList"></a>
	            <div class="det-submit-tit">用户评论</div>
			</div> 
			<div class="det-comment-list-container">
	            <ul class="det-comment-list-box" id="J_DetShowCommentList" style="display: block;">
	            <li class="det-comment-list-every"><div class="det-comment-info"><div class="comment-name-line"><div class="comment-name">ruby</div><div class="com-star-lit-5-O commont-star"></div><div class="comment-date">2016年1月11日&nbsp;15:46</div><div class="clear"></div></div><div class="comment-datatext">真的可以免费发送换号信息哦</div></div><div class="clear"></div></li></ul>
	            <a class="det-comment-show-more-btn" id="J_DetCommentShowMoreBtn" href="javascript:void(0)">查看更多评论</a>
			</div> 
			<div class="det-submit-none" id="J_DetSubmitNone">暂无评论</div>
		</div>
	</div>
	<link rel="stylesheet" href="http://www.sharecarding.com/css/downloads.css" />
	<script>
	var MOLO = {
		timestamp : "20140928",//时间戳，改时间戳立即清除静态文件缓存
		staticVersion : "20140928",//静态文件线上打包部署版本，默认是2.0.0版本
		staticDomain : "http://img4.sj.qq.com/res/static/myapp/staticVersion/20140928",//http://img1.sj.qq.com/res/app2/
		assets :"/assets",
		marketImagesUrl : "http://img4.sj.qq.com/res/static/myapp/staticVersion/20140928/assets/images/app/m4/",
		urlPre : "http://myapp.com",
		pageKey : "details",
		senseParam : "",
	  dp:10006
	}
	</script>
	<script src="http://www.sharecarding.com/js/sea.js"></script>
	<script src="http://www.sharecarding.com/js/jquery-seajs.js"></script>
	<script src="http://www.sharecarding.com/js/sjqqapi.js"></script>
	<script src="http://www.sharecarding.com/js/details.js"></script>
	
	<!--电脑版 结束-->
<div class="divMain visible-xs" style="min-height: 107px; height: auto;">
	<!-- app infomation -->
	<div class="ui-item  line-dot-top">
		<div class="ui-item-right-nozl">
			<a id="app-btn-down" class="app-btn-down" href="http://api.sharecarding.com/sharecarding.apk">
				<span class="dltext imgbg">下载</span>
			</a>					
		</div>
		<input type="hidden" id="c_url" value="http://a.vmall.com:80/appdl/C10430865">
		<div class="ui-item-left-nozl">
			<ul class="app-ul" id="currentNews">
				<li class="app-ul-li-img">
					<img src="http://appimg.hicloud.com/hwmarket/files/application/icon144/2a0c3fdb1f66490eb679bf077dda64cf.png" class="app" onerror="this.src='http://appcss.hicloud.com/mw//2016041420/css/himobile1.2/images/icon_app.png'">
				</li>
				<li class="app-ul-li-info">
					<h3 class="app-title">乐享名片</h3>
					<p class="app-stars-detail"><span class="score-bg imgbg"><em class="score_10 imgbg"></em></span></p>
					<p class="app-remark-detail">
						<span>6.4M</span>
						<!--<span>929次下载</span>-->
						<span>少于1万次下载</span>
					</p>
				</li>
			</ul>
		</div>
	</div>
	<!-- app infomation end -->

	<!-- big app picture -->

	<div style="height: 367px;width: 100%;" class="app-imgs">
		<div class="screenMask">
			<input type="hidden" id="jsVersion" value="2016041420">
			<!-- screen start add by liweisheng -->
			<script type="text/javascript" src="http://a.vmall.com/2016041420/js/core/iscroll-min.js">
			</script>
			<div style="width: 100%;height: 328px;padding-top: 12px;">
				<div id="screenwrapper" style="overflow: hidden;">
					<div id="screenscroller" style="width: 904px; transition-property: -webkit-transform; transform-origin: 0px 0px 0px; transform: translate3d(0px, 0px, 0px) scale(1);">
						<ul id="thelist">
							<li>
								<img onerror="this.src='http://a.vmall.com/2016041420/css/himobile1.2/images/default_screen.png'" onclick="javascript:DefaultJs.magnify(this);" class="screenImg" src="http://appimg.hicloud.com/hwmarket/files/application/screenshut1/2a0c3fdb1f66490eb679bf077dda64cf.jpg">
							</li>
							<li>
								<img onerror="this.src='http://a.vmall.com/2016041420/css/himobile1.2/images/default_screen.png'" onclick="javascript:DefaultJs.magnify(this);" class="screenImg" src="http://appimg.hicloud.com/hwmarket/files/application/screenshut2/2a0c3fdb1f66490eb679bf077dda64cf.jpg">
							</li>
							<li>
								<img onerror="this.src='http://a.vmall.com/2016041420/css/himobile1.2/images/default_screen.png'" onclick="javascript:DefaultJs.magnify(this);" class="screenImg" src="http://appimg.hicloud.com/hwmarket/files/application/screenshut3/2a0c3fdb1f66490eb679bf077dda64cf.jpg">
							</li>
							<li>
								<img onerror="this.src='http://a.vmall.com/2016041420/css/himobile1.2/images/default_screen.png'" onclick="javascript:DefaultJs.magnify(this);" class="screenImg" src="http://appimg.hicloud.com/hwmarket/files/application/screenshut4/2a0c3fdb1f66490eb679bf077dda64cf.jpg">
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div style="height: 25px;">
				<div id="nav">
					<ul id="indicator">
						<li class="active"></li>
						<li></li>
						<li></li>
						<li></li>
					</ul>
				</div>
			</div>
			<script type="text/javascript">
				var myScroll;
				function loaded() {
					setTimeout(function(){
						myScroll = new iScroll('screenwrapper',{
						snap: true,
						hScrollbar: false,
						onScrollEnd: function () {
						  window.scrollBy(0,myScroll.dirY*myScroll.absDistY);
						  document.querySelector('#indicator > li.active').className = '';
						  document.querySelector('#indicator > li:nth-child(' + (this.currPageX+1) + ')').className = 'active';
						}
					});
					},200)

				}
				if(document.addEventListener){
					document.getElementById("screenwrapper").addEventListener('touchmove', function (e) { e.preventDefault(); }, false);
					var le = document.getElementById('thelist').getElementsByTagName('li').length*226;
					var length = le+"px";
					document.getElementById("screenscroller").style.width = length;
					document.addEventListener('DOMContentLoaded', loaded, false);
				}
			</script>
<!-- screen end add by liweisheng -->
		</div>
	</div>
	
	<!-- app detail info -->
	<div class="app-detail dtab" id="detailinfo" style="display: block;">
		<ul class="detail-info">
			<li class="in-row-a">
				<span>开发者：</span>
				上海夜伦网络信息技术有限公司
			 </li>
		</ul>
		<ul class="detail-info">
			<li class="in-row-a">
				<span>发布时间：</span>
				2016-04-25
			</li>
		</ul>
		<ul class="detail-info">
			<li class="in-row-a">
				<span>版本：</span>
				1.0.5
			</li>
			<li class="in-row-a">
				<span>类别:</span>
				实用工具
			</li>
		</ul>		
		<div class="detail-txt">
			<div id="showDesc">出于安全原因，即使在互联网时代，通讯录的管理依然滞后，他就像一个沉重的包裹，你必须要时时刻刻拖着他。你换手机了，需要备份一下他，你换号码了，得把他的联系人全部通知一遍，可结果却是，总有一些联系人，你备份漏了，总有一些联系人，不知道你现在的号码。<br>其实，用互联网解决这些问题真的很简单，他就是一个平台，负责管理你的通讯录。他需要大家的一个默契，就是把换号消息在这里发布，这样，平台就能为你维护一个自动更新号码的智能通讯录了。<br>大家需要做的就是把你们换号的消息在这里发布，平台需要做的就是替你们做好隐私，只让该知道的人知道。<br>可以在腾讯应用宝上搜索 乐享名片 即可下载，或者点击下面的地址下载乐享名片http://pgyer.com/sharecarding<br>乐享名片还允许你为你的公司或者社团创建通讯录群，新的员工只需加入该群即可共享通讯录哦。</div>
			<a id="btcshow" class="btn-blue btn-mid frt" onclick="AppdetailControl.changeDesc();" style="display: none;">
                 <span>全部介绍</span>
    		     <em class="ico-drop frt imgbg"></em>
    		 </a>
			<input type="hidden" id="subdesc" value="出于安全原因，即使在互联网时代，通讯录的管理依然滞后，他就像一个沉重的包裹，你必须要时时刻刻拖着他。你换…">
			<input type="hidden" id="desc" value="出于安全原因，即使在互联网时代，通讯录的管理依然滞后，他就像一个沉重的包裹，你必须要时时刻刻拖着他。你换手机了，需要备份一下他，你换号码了，得把他的联系人全部通知一遍，可结果却是，总有一些联系人，你备份漏了，总有一些联系人，不知道你现在的号码。<br>其实，用互联网解决这些问题真的很简单，他就是一个平台，负责管理你的通讯录。他需要大家的一个默契，就是把换号消息在这里发布，这样，平台就能为你维护一个自动更新号码的智能通讯录了。<br>大家需要做的就是把你们换号的消息在这里发布，平台需要做的就是替你们做好隐私，只让该知道的人知道。<br>可以在腾讯应用宝上搜索 乐享名片 即可下载，或者点击下面的地址下载乐享名片http://pgyer.com/sharecarding<br>乐享名片还允许你为你的公司或者社团创建通讯录群，新的员工只需加入该群即可共享通讯录哦。">
			<script type="text/javascript">
					var detailtxt = document.getElementById("desc").value;
					detailtxt = detailtxt.replace(/(\n)+/g,"<br>")
					document.getElementById("desc").value = detailtxt;
					var temp = document.getElementById("showDesc").innerHTML;
					temp = temp.replace(/(\n)+/g,"<br>");
					document.getElementById("showDesc").innerHTML=temp;
					var subdesc = document.getElementById("subdesc").value;
					subdesc = subdesc.replace(/(\n)+/g,"<br>")
					document.getElementById("subdesc").value = subdesc;
			</script>
		</div>
		<div class="detail-txt line-dot-top">
			<ul class="ul-detail-info">
				<li class="flt" id="subper" style="display: none;">
					<p class="info-title">该应用具有以下访问内容：</p>
					<p class="info-title">您的 Google 帐户</p>
					<p class="info-detail">&gt;发现已知帐户</p>
					<p class="info-title"></p>
					<p class="info-title"></p>
					<p class="info-title"></p>
					<p class="info-title"></p>
					<p class="info-title"></p>
					<p class="info-title"></p>
					<p class="info-title"></p>
			</li>
				<li class="flt" id="per" style="">
					<p class="info-title">该应用具有以下访问内容：</p>
					<p class="info-title">您的 Google 帐户</p>
					<p class="info-detail">&gt;发现已知帐户</p>
					<p class="info-title">需要您支付费用的服务</p>
					<p class="info-detail">&gt;发送短信</p>
					<p class="info-detail">&gt;直接呼叫电话号码</p>
					<p class="info-title">系统工具</p>	
					<p class="info-detail">&gt;检索正在运行的应用程序</p>
					<p class="info-detail">&gt;读取系统日志文件</p>
					<p class="info-detail">&gt;引导时自动启动</p>
					<p class="info-detail">&gt;更改 WLAN 状态</p>
					<p class="info-detail">&gt;防止手机休眠</p>
					<p class="info-title">网络通讯</p>
					<p class="info-detail">&gt;查看 WLAN 状态</p>
					<p class="info-detail">&gt;完全的互联网访问</p>
					<p class="info-detail">&gt;查看网络状态</p>
					<p class="info-title">硬件控制</p>	
					<p class="info-detail">&gt;控制振动器</p>
					<p class="info-detail">&gt;控制闪光灯</p>
					<p class="info-title">手机通话</p>
					<p class="info-detail">&gt;读取手机状态</p>
					<p class="info-title">您的个人信息</p>
					<p class="info-detail">&gt;读取联系数据</p>
					<p class="info-detail">&gt;写入联系数据</p>
					<p class="info-title">您的信息</p>
					<p class="info-detail">&gt;编辑短信或彩信</p>
					<p class="info-detail">&gt;读取短信或彩信</p>
				</li>
			</ul>
		</div>
	</div>
	<!-- app detail info end -->
	<!-- app detail info 评论-->
	<div style="display: none;" class="app-detail dtab" id="appcomm">
		<br class="bar10">
		<!-- yellow pannel -->
		<div class="app-detail-score">
			<ul class="ul-detail-score">
				<li class="stars">
					<span class="big_star_bg imgbg">
						<em class="imgbg big_star_10"></em>
					</span>
				</li>
				<li class="scores">
					<p></p>
					<p><b>1</b>次评论</p>
				</li>
			</ul>
		</div>
		<!-- yellow pannel end -->
		<!-- item-comment -->
		<div id="commentDetail">
			<div class="detail-txt">
				<p class="app-comment">希望更多的人一起维护这个智能通讯录 </p>
				<p class="app-comment-info">
					<span>作者：186****6482</span>
					<span>&nbsp;&nbsp;2016-01-19 19:45:37</span>
					<span class="score-bg imgbg"><em class="score_10 imgbg"></em></span>
				</p>
			</div>
		</div>
		<!-- btn comment -->
		<!-- btn comment end -->
		<!-- item-comment end -->
	</div>
	<!-- app detail info end 评论-->
	<!-- application list end -->
</div>
<link rel="stylesheet" href="css/downloads2.css" />
</body>
</html>